.body {
    font-family: 'PT Serif', serif;
}

.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-1 {
    border-bottom: 1px solid #414141;
}

.aside-buttons > li {
    margin-bottom: 10px;
}

.text-color {
    color: #e1e2e2;
}